<div class="onlineExamHistories index">
	<h2><?php echo __('Online Exam Histories'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('online_exam_id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('mark'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($onlineExamHistories as $onlineExamHistory): ?>
	<tr>
		<td><?php echo h($onlineExamHistory['OnlineExamHistory']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($onlineExamHistory['OnlineExam']['name'], array('controller' => 'online_exams', 'action' => 'view', $onlineExamHistory['OnlineExam']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($onlineExamHistory['User']['name'], array('controller' => 'users', 'action' => 'view', $onlineExamHistory['User']['id'])); ?>
		</td>
		<td><?php echo h($onlineExamHistory['OnlineExamHistory']['mark']); ?>&nbsp;</td>
		<td><?php echo h($onlineExamHistory['OnlineExamHistory']['created']); ?>&nbsp;</td>
		<td><?php echo h($onlineExamHistory['OnlineExamHistory']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $onlineExamHistory['OnlineExamHistory']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $onlineExamHistory['OnlineExamHistory']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $onlineExamHistory['OnlineExamHistory']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $onlineExamHistory['OnlineExamHistory']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Online Exam History'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Online Exams'), array('controller' => 'online_exams', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Online Exam'), array('controller' => 'online_exams', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
