<div class="universities index">
	<h2><?php echo __('Universities'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('website'); ?></th>
			<th><?php echo $this->Paginator->sort('address'); ?></th>
			<th><?php echo $this->Paginator->sort('city'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($universities as $university): ?>
	<tr>
		<td><?php echo h($university['University']['id']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['name']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['website']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['address']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['city']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['description']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['created']); ?>&nbsp;</td>
		<td><?php echo h($university['University']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $university['University']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $university['University']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $university['University']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $university['University']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New University'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
