@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.icon-envelope:before {
    content: "\e000";
}

.icon-cart:before {
    content: "\e007";
}

.icon-cart-2:before {
    content: "\e008";
}

.icon-heart:before {
    content: "\e009";
}

/* Filled heart */
.icon-heart:after,
.icon-heart-2:before {
    content: "\e00a";
}

.icon-star:before {
    content: "\e00b";
}

/* Filled star */
.icon-star:after,
.icon-star-2:before {
    content: "\e00c";
}

.icon-arrow-right:before {
    content: "\e00d";
}

.icon-arrow-left:before {
    content: "\e003";
}

.icon-truck:before {
    content: "\e00e";
}

.icon-remove:before {
    content: "\e00f";
}

.icon-cog:before {
    content: "\e010";
}

.icon-plus:before,
.icon-plus:after {
    content: "\e011";
}

.icon-minus:before {
    content: "\e012";
}

.bh-icon-smiley:before {
    content: "\e001";
}

.bh-icon-sad:before {
    content: "\e002";
}

.icon-file:before {
    content: "\e004";
}

.icon-remove-2:before {
    content: "\e005";
}

/* Button 3 */
.btn-3 {
    background: #fcad26;
    color: #fff;
}

.btn-3:hover {
    background: #f29e0d;
}

.btn-3:active {
    background: #f58500;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3a */
.btn-3a {
    padding: 25px 60px 25px 120px;
}

.btn-3a:before {
    background: rgba(0,0,0,0.05);
}

/* Button 3b */
.btn-3b {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}

.btn-3b:before {
    border-right: 2px solid rgba(255,255,255,0.5);
}

/* Button 3c */
.btn-3c {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #da9622;
}

.btn-3c:active {
    box-shadow: 0 3px #dc7801;
}

.btn-3c:before {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #fff;
    color: #f29e0d;
    border-radius: 10px 10px 0 0;
}

.btn-3c:active:before {
    color: #f58500;
}

/* Button 3d */
.btn-3d {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}

.btn-3d:before {
    background: #fff;
    color: #fcad26;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.btn-3d:after {
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-3d:active:before {
    color: #f58500;
}

.btn-3d:active {
    top: 0;
}

.btn-3d:active:after {
    left: 60px;
}

/* Button 3e */
.btn-3e {
    padding: 25px 120px 25px 60px;
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}

.AddNewButton {
	font-size: 12px;
	color: #fff;
	background: rgb(240,183,161);
	background: -moz-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76BF6B), color-stop(100%, #3B8230));
	background: -webkit-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: -o-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: -ms-linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	background: linear-gradient(top, #76BF6B 0%, #3B8230 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76BF6B', endColorstr='#3B8230', GradientType=0 );
	border: 1px solid #3B8230;
	border-radius: 4px;
	padding: 10px 15px;
	text-align: center;
	float: right;
	text-decoration:none;
}


li.sub-menu {
    margin-left: 30px !important;
}
li.selected a {
    background: #003D4C !important;
    color: #fff !important;
}
li.selected2 a {
    background: green !important;
}
li.selected3 a {
    background: darkred !important;
}

.radio_btn {
    width: 20%;
    float: left;
}

/* Arrow */
.link-arrow {
    background: rgba(149,165,166,0.4);
}

.link-arrow a {
    padding: 0 0.25em;
    font-weight: 500;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-arrow a:hover,
.link-arrow a::after {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
}

.link-arrow a::before,
.link-arrow a::after {
    position: absolute;
    height: 100%;
    content: '';
}

.link-arrow a::before {
    left: 0;
    z-index: -1;
    width: 100%;
    background: #34495e;
}

.link-arrow a::after {
    left: 100%;
    z-index: -2;
    width: 1em;
    background: #34495e url(../img/arrow_right.svg) no-repeat 50% 50%;
    background-size: 60% auto;
    text-align: center;
    font-family: Arial, sans-serif;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    pointer-events: auto;
}

.link-arrow a:hover::after,
.link-arrow a:focus::after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* Skewed */
.link-skewed {
    background: rgba(149,165,166,0.1);
}

.link-skewed a {
    font-weight: 500;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.link-skewed a:hover,
.link-skewed a:focus {
    color: #fff;
}

.link-skewed a::before {
    position: absolute;
    top: 0px;
    left: -5px;
    z-index: -1;
    box-sizing: content-box;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    background: #e74c3c;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transform: skewY(-3deg) skewX(-11deg);
    transform: skewY(-3deg) skewX(-11deg);
}

.link-skewed a:hover::before,
.link-skewed a:focus::before {
    opacity: 1;
    -webkit-transform: skewY(0) skewX(0);
    transform: skewY(0) skewX(0);
}