<div class="lectures index">
	<h2><?php echo __('Lectures'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('lesson_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('lecture'); ?></th>
			<th><?php echo $this->Paginator->sort('order'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($lectures as $lecture): ?>
	<tr>
		<td><?php echo h($lecture['Lecture']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($lecture['Lesson']['name'], array('controller' => 'lessons', 'action' => 'view', $lecture['Lesson']['id'])); ?>
		</td>
		<td><?php echo h($lecture['Lecture']['name']); ?>&nbsp;</td>
		<td><?php echo h($lecture['Lecture']['lecture']); ?>&nbsp;</td>
		<td><?php echo h($lecture['Lecture']['order']); ?>&nbsp;</td>
		<td><?php echo h($lecture['Lecture']['created']); ?>&nbsp;</td>
		<td><?php echo h($lecture['Lecture']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $lecture['Lecture']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $lecture['Lecture']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $lecture['Lecture']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $lecture['Lecture']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Lecture'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Lessons'), array('controller' => 'lessons', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Lesson'), array('controller' => 'lessons', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Completance Histories'), array('controller' => 'completance_histories', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Completance History'), array('controller' => 'completance_histories', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
