<div class="admissionTypesUsers index">
	<h2><?php echo __('Admission Types Users'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('admission_type_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($admissionTypesUsers as $admissionTypesUser): ?>
	<tr>
		<td><?php echo h($admissionTypesUser['AdmissionTypesUser']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($admissionTypesUser['User']['name'], array('controller' => 'users', 'action' => 'view', $admissionTypesUser['User']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($admissionTypesUser['AdmissionType']['name'], array('controller' => 'admission_types', 'action' => 'view', $admissionTypesUser['AdmissionType']['id'])); ?>
		</td>
		<td><?php echo h($admissionTypesUser['AdmissionTypesUser']['created']); ?>&nbsp;</td>
		<td><?php echo h($admissionTypesUser['AdmissionTypesUser']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $admissionTypesUser['AdmissionTypesUser']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $admissionTypesUser['AdmissionTypesUser']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $admissionTypesUser['AdmissionTypesUser']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $admissionTypesUser['AdmissionTypesUser']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Admission Types User'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Admission Types'), array('controller' => 'admission_types', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Admission Type'), array('controller' => 'admission_types', 'action' => 'add')); ?> </li>
	</ul>
</div>
